

.logo-1 {
    max-width: 100px;
    margin-left: 20px;
}

.bg-img {
    background-image: url(background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.logo-2{
    max-width: 100px;
}

input{
    width: 75%;
    padding: 14px 12px 14px 20px;
    margin-top: 10px;
    
}

.ind-hdng{
    margin:3px;
}
