

.logo-1 {
    max-width: 100px;
    margin-left: 20px;
}

.bg-img {
    background-image: url(background.jpg);
    background-size: cover;
    background-attachment: fixed;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.logo-2{
    max-width: 100px;
}

.inp-1, .inp-2, .inp-3, .inp-4{
    width: 75%;
    padding: 14px 12px 14px 20px;
    margin-top: 10px;
    
}

.ind-hdng{
    margin:3px;
    font-size: 12px;
}
.checkbox-lg .custom-check-input {
    top: 0.8rem;
    scale: 1.4;
    margin-right: 0.5rem;
}

.checkbox-lg .custom-check-label {
    padding-top: 13px;
}

.slider-1{
    flex: 1;
}
.slider-2{
    flex: 1;
    background-image: url(crm-features-bg-2x.jpg);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.btn-150 {
    width: 150px;
}
.tk-us-spn{
    background-image: url(crm-footer-bg-12.svg);
    
}